body {
    background-color: lightblue;
    font-family: verdana;
    background-image: url('static/swing.jpeg');
  
  }
nav{
    background-color:green ;
    display:flexbox;
    justify-content: space-between;
    align-items: center;
}  